      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
          <h2 class="mb-5">Awards &amp; Certifications</h2>
          <ul class="fa-ul mb-0">
            <% data.awards.awards.each do |a| %>
            <li>
              <i class="fa-li fa fa-<%= a.icon %> text-warning"></i>
              <%= a.award %></li>
            <% end %>
            
          </ul>
        </div>
      </section>

    </div>
