      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <% data.interests.interests.each do |b| %>
          <p ><%= b.blurb %></p>
          <% end %>
        </div>
      </section>
